@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* Estilos do Body */
body {
    background-color: #121212;
    color: #FFFFFF;
    font-family: 'Press Start 2P', sans-serif; /* Fonte em estilo pixel */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Container Principal (Login e Cadastro) */
.container {
    text-align: center;
    background-color: #1c1c1c; /* Fundo da caixa de cadastro/login */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px; /* Largura padrão para login e cadastro */
    margin: 40px auto; /* Centraliza horizontalmente e adiciona espaço em cima */
    overflow: hidden; /* Adicionado para evitar que conteúdo saia do contêiner */
}


/* Ajustar imagem principal */
.imagem-principal {
    width: 100%; /* Ajuste para que a imagem se encaixe no contêiner */
    height: auto; /* Mantém a proporção da imagem */
    margin-bottom: 20px; /* Espaço abaixo da imagem */
}

/* Títulos */
.title {
    text-align: center; /* Centraliza o texto */
    line-height: 1.5; /* Aumenta o espaço entre as linhas */
    margin: 20px 0; /* Espaço em cima e embaixo do título */
}



/* Botões */
.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn {
    background-color: #007BFF; /* Cor do botão */
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 20px;
    font-family: 'Press Start 2P', sans-serif;
    text-align: center;
    margin-top: 10px;
}

.btn:hover {
    background-color: #0056b3; /* Cor do botão ao passar o mouse */
}

/* Estilos específicos para os formulários */
input {
    width: 93.5%; /* Largura total para inputs */
    padding: 10px;
    margin: 10px 0; /* Espaço entre os inputs */
    border: none; /* Remover bordas padrão */
    border-radius: 5px; /* Arredondar bordas */
    background-color: #2c2c2c; /* Cor de fundo dos inputs */
    color: white; /* Cor do texto */
}

button {
    width: 100%; /* Largura total para botões */
    padding: 10px;
    border: none; /* Remover bordas padrão */
    border-radius: 5px; /* Arredondar bordas */
    background-color: #007BFF; /* Cor do botão */
    color: white; /* Cor do texto */
    font-size: 16px; /* Tamanho da fonte do botão */
    cursor: pointer; /* Cursor de mão ao passar o mouse */
    margin-top: 30px;
}

button:hover {
    background-color: #0056b3; /* Cor do botão ao passar o mouse */
}

/* Mensagem "Não possui uma conta?" */
p {
    text-align: center; /* Centraliza o texto dos parágrafos */
    font-size: 14px; /* Diminuir o tamanho da fonte */
    margin-top: 30px; /* Margem acima do parágrafo */
}

a {
    color: #007BFF; /* Cor dos links */
    text-decoration: none; /* Remove o sublinhado */
}

a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

/* Botão de Controle */
.control-button {
    margin-right: 20px; /* Espaço à direita da imagem do controle */
}

.controller-icon {
    width: 50px; /* Ajuste o tamanho conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    margin-top: -2px; /* Ajuste para alinhar a imagem do controle corretamente */
}



/* Estilos para itens da navbar */
.nav-item {
    color: #FFFFFF; /* Cor do texto */
    text-decoration: none; /* Remove o sublinhado */
    margin-right: 20px; /* Espaçamento entre os itens do menu */
    font-family: 'Press Start 2P', sans-serif; /* Define a fonte em estilo pixel */
}

.user-icon {
    margin-left: auto; /* Empurra o ícone do usuário para a direita */
}

/* Estilos para o ícone do usuário */
.user-icon-img {
    width: 40px; /* Aumente a largura do ícone do usuário */
    height: 40px; /* Aumente a altura do ícone do usuário */
}


/* Navbar para a Página de Ganhos */
.navbar-gain {
    position: fixed; /* Fixa a barra no topo da página */
    top: 0; /* Alinha ao topo */
    left: 0; /* Alinha à esquerda */
    right: 0; /* Alinha à direita */
    background-color: rgba(28, 28, 28, 0.9); /* Cor de fundo escura e transparente */
    display: flex; /* Usa flexbox para alinhar os itens */
    align-items: center; /* Alinha verticalmente os itens */
    justify-content: first baseline; /* Distribui os itens uniformemente */
    padding: 10px; /* Espaçamento interno da barra de navegação */
    z-index: 1000; /* Garante que a barra fique acima de outros elementos */
}

/* Estilos para o contêiner principal */
.container-gain {
    display: flex;
    flex-direction: column; /* Coloca os elementos em coluna */
    align-items: center; /* Centraliza os itens horizontalmente */
    margin-top: 80px; /* Espaço acima do contêiner para evitar sobreposição com a navbar */
    background-color: #1c1c1c; /* Fundo do contêiner */
    border-radius: 10px; /* Bordas arredondadas */
    padding: 20px; /* Espaço interno do contêiner */
    width: 90%; /* Largura do contêiner em 90% da tela */
    max-width: 1200px; /* Largura máxima do contêiner */
    margin-left: auto; /* Centraliza o contêiner */
    margin-right: auto; /* Centraliza o contêiner */
}

/* Estilos para o título principal */
h1 {
    text-align: center; /* Centraliza o título */
    margin: 20px 0; /* Espaço acima e abaixo do título */
}

/* Estilos para os ganhos */
.ganhos {
    display: flex; /* Usa flexbox para layout */
    justify-content: space-around; /* Distribui os elementos uniformemente */
    width: 100%; /* Largura total para a seção de ganhos */
    margin: 20px 0; /* Espaço acima e abaixo do elemento */
}

/* Estilos para cada ganho */
.ganho {
    background-color: #2c2c2c; /* Fundo dos painéis de ganho */
    border: 1px solid #007BFF; /* Borda azul */
    border-radius: 10px; /* Bordas arredondadas */
    padding: 20px; /* Aumenta o espaço interno dos painéis de ganho */
    width: 200px; /* Largura fixa para os painéis de ganho */
    margin: 0 10px; /* Adiciona margem lateral ao redor de cada painel para espaçamento */
}

/* Estilos para o título do painel de controle */
h3 {
    text-align: center; /* Centraliza o título */
    margin-top: 20px; /* Espaço acima do título */
}

/* Estilos para o gráfico */
.grafico {
    background-color: #1c1c1c; /* Fundo do gráfico */
    border: 1px solid #007BFF; /* Borda azul */
    border-radius: 10px; /* Bordas arredondadas */
    padding: 20px; /* Aumenta o espaço interno do gráfico */
    margin-top: 40px; /* Espaço acima do gráfico */
    width: 80%; /* Largura do gráfico */
    height: 300px; /* Altura do gráfico */
    margin-left: auto; /* Centraliza o gráfico */
    margin-right: auto; /* Centraliza o gráfico */
    display: flex; /* Usa flexbox para o conteúdo interno, se necessário */
    align-items: center; /* Alinha verticalmente o conteúdo interno */
    justify-content: center; /* Centraliza horizontalmente o conteúdo interno */
}

/* Estilos para o contêiner do usuário */
.container-user {
    display: flex;
    flex-direction: column; /* Coloca os elementos em coluna */
    align-items: center; /* Centraliza os itens horizontalmente */
    margin-top: 80px; /* Espaço acima do contêiner para evitar sobreposição com a navbar */
    background-color: #1c1c1c; /* Fundo do contêiner */
    border-radius: 10px; /* Bordas arredondadas */
    padding: 20px; /* Espaço interno do contêiner */
    width: 90%; /* Largura do contêiner em 90% da tela */
    max-width: 600px; /* Largura máxima do contêiner */
    margin-left: auto; /* Centraliza o contêiner */
    margin-right: auto; /* Centraliza o contêiner */
}

/* Estilos para a imagem do perfil */
.profile-pic {
    width: 150px; /* Largura do contêiner da imagem */
    height: 150px; /* Altura do contêiner da imagem */
    border-radius: 50%; /* Faz a imagem ser redonda */
    overflow: hidden; /* Esconde partes da imagem que ultrapassam o contêiner */
    margin-bottom: 20px; /* Espaço abaixo da imagem */
}

.profile-img {
    width: 100%; /* Preenche o contêiner */
    height: auto; /* Mantém a proporção da imagem */
}

/* Estilos para o nome do usuário */
h2 {
    text-align: center; /* Centraliza o nome */
    margin: 10px 0; /* Espaço acima e abaixo do nome */
}


/* Navbar para a Página de Ganhos */
.navbar-gain {
    position: fixed; /* Fixa a barra no topo da página */
    top: 0; /* Alinha ao topo */
    left: 0; /* Alinha à esquerda */
    right: 0; /* Alinha à direita */
    background-color: rgba(28, 28, 28, 0.9); /* Cor de fundo escura e transparente */
    display: flex; /* Usa flexbox para alinhar os itens */
    align-items: center; /* Alinha verticalmente os itens */
    padding: 10px; /* Espaçamento interno da barra de navegação */
    z-index: 1000; /* Garante que a barra fique acima de outros elementos */
}

/* Estilos para o contêiner de cadastro de jogo */
.container-game-register {
    display: flex;
    flex-direction: column; /* Coloca os elementos em coluna */
    align-items: center; /* Centraliza os itens horizontalmente */
    margin-top: 80px; /* Espaço acima do contêiner para evitar sobreposição com a navbar */
    background-color: #1c1c1c; /* Fundo do contêiner */
    border-radius: 10px; /* Bordas arredondadas */
    padding: 20px; /* Espaço interno do contêiner */
    width: 90%; /* Largura do contêiner em 90% da tela */
    max-width: 1200px; /* Largura máxima do contêiner */
    margin-left: auto; /* Centraliza o contêiner */
    margin-right: auto; /* Centraliza o contêiner */
}

/* Estilos para o layout do formulário */
.form-layout {
    display: flex; /* Usar flexbox para layout em colunas */
    justify-content: space-between; /* Espaçamento igual entre as colunas */
    width: 100%; /* Largura total do contêiner */
    margin: 20px 0; /* Margem em cima e embaixo */
}

/* Estilos para a coluna esquerda */
.left-column {
    width: 60%; /* Largura da coluna esquerda */
    padding-right: 20px; /* Espaço à direita da coluna */
}

/* Estilos para a coluna direita */
.right-column {
    width: 35%; /* Largura da coluna direita */
}

/* Estilos para os campos de texto */
input2, textarea {
    width: 93.5%; /* Largura total para inputs e textarea */
    padding: 10px; /* Espaçamento interno */
    margin: 10px 0; /* Espaço entre os inputs */
    border: none; /* Remover bordas padrão */
    border-radius: 5px; /* Arredondar bordas */
    background-color: #2c2c2c; /* Cor de fundo dos inputs */
    color: white; /* Cor do texto */
}


.image-upload input[type="file"] {
    display: none; /* Oculta o botão padrão */
}

.image-preview {
    border: 2px dashed #007BFF; /* Estilo de borda para a área de visualização */
    border-radius: 10px; /* Bordas arredondadas */
    padding: 20px; /* Espaçamento interno */
    text-align: center; /* Centraliza o texto dentro da área */
    background-color: #1c1c1c; /* Fundo da área de visualização */
    margin-top: 10px; /* Espaço acima da área de visualização */
}

.image-preview img {
    max-width: 100%; /* Limita a largura da imagem para não exceder a área de visualização */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 10px; /* Bordas arredondadas para a imagem */
}
/* Estilo personalizado para o botão de upload */
.image-upload::before {
    content: "Escolher arquivo"; /* Texto do botão */
    margin-top: 10px;
    display: inline-block; /* Exibe como um bloco em linha */
    background-color: #007BFF; /* Cor de fundo do botão */
    color: white; /* Cor do texto */
    padding: 10px 20px; /* Espaçamento interno do botão */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de mão ao passar o mouse */
}

.coin-icon {
    width: 130px; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    margin: 0 20px; /* Espaçamento à esquerda e à direita da imagem */
    align-self: center; /* Centraliza verticalmente a imagem em relação aos outros elementos */
}

.alert-container {
    text-align: center; /* Centraliza os alertas */
    margin-bottom: 20px; /* Espaçamento abaixo dos alertas */
}

.alert {
    display: inline-block; /* Faz com que o alerta se comporte como um bloco */
    padding: 15px; /* Espaçamento interno */
    margin: 10px; /* Espaçamento externo */
    border-radius: 5px; /* Cantos arredondados */
    width: 80%; /* Largura do alerta */
    max-width: 600px; /* Largura máxima */
}

.alert.error {
    background-color: #f8d7da; /* Fundo vermelho claro */
    color: #721c24; /* Texto vermelho escuro */
    border: 1px solid #f5c6cb; /* Borda vermelha */
}

.alert.success {
    background-color: #d4edda; /* Fundo verde claro */
    color: #155724; /* Texto verde escuro */
    border: 1px solid #c3e6cb; /* Borda verde */
}
