<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Distribuidora de Jogos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class="container">
        <img src="{{ url_for('static', filename='images/homepage.png') }}" alt="Imagem Principal" class="imagem-principal">
        <div class="buttons">
            <a href="/entrar" class="btn">Entrar</a>
            <a href="/cadastrar" class="btn">Cadastrar</a>
        </div>
    </div>
</body>
</html>
