<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resumo de Ganhos - Distribuidora de Jogos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="navbar-gain">
        <a href="/resumo" class="nav-item control-button">
            <img src="{{ url_for('static', filename='images/controller.png') }}" alt="Control" class="controller-icon">
        </a>
        <a href="/suporte" class="nav-item">Suporte</a>
        <a href="/cadastrar_jogo" class="nav-item">Cadastrar</a>
        <a href="/usuario" class="nav-item user-icon"> <!-- Link para a página do usuário -->
            <img src="{{ url_for('static', filename='images/user_icon.png') }}" alt="User" class="user-icon-img">
        </a>
    </div>

    <div class="container-gain"> <!-- Contêiner principal com novo nome -->
        <h1>Distribuidora</h1> <!-- Título principal -->
        
        <div class="ganhos">
            <div class="ganho">
                <h2>Ganhos - Setembro</h2>
                <p>R$ 0,00</p>
            </div>
        
            <!-- Adicione a imagem da moeda aqui -->
            <img src="{{ url_for('static', filename='images/coin.png') }}" alt="Moeda" class="coin-icon">
        
            <div class="ganho">
                <h2>Ganhos - Total</h2>
                <p>R$ 0,00</p>
            </div>
        </div>
        

        <h3>Painel de Controle</h3> <!-- Título entre os ganhos e o gráfico -->

        <div class="grafico">
            <p>Ainda Não Há Dados Mensais</p> <!-- Contêiner do gráfico -->
        </div>
    </div>
</body>
</html>